{"filter":false,"title":".gitignore","tooltip":"/sample_app/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":31,"column":2},"end":{"row":31,"column":3},"action":"insert","lines":["e"],"id":1},{"start":{"row":31,"column":3},"end":{"row":31,"column":4},"action":"insert","lines":["n"]},{"start":{"row":31,"column":4},"end":{"row":31,"column":5},"action":"insert","lines":["v"]}]]},"ace":{"folds":[],"scrolltop":134,"scrollleft":0,"selection":{"start":{"row":31,"column":5},"end":{"row":31,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":7,"state":"start","mode":"ace/mode/ini"}},"timestamp":1605340366462,"hash":"be96c59eec7593e8fad1ae07cdc59a6a569bb9cd"}